* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b0b0f;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* GENERAL */
section {
  padding: 100px 10%;
}

h1, h2, h3 {
  font-weight: 600;
}

p {
  opacity: 0.85;
  line-height: 1.7;
}
/* PROJECT CARD */
.project-card img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}
.project-card:hover img{
    transform: scale(1.05);
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: 
  linear-gradient(
    rgba(11,11,15,0.85),
    rgba(11,11,15,0.85)
    ),
  url("assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

.glitch {
  font-size: 4rem;
  background: linear-gradient(90deg, #ff00ff, #00ffff);
  -webkit-background-clip: text;
  color: transparent;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from { text-shadow: 0 0 10px #ff00ff; }
  to { text-shadow: 0 0 25px #00ffff; }
}

.subtitle {
  margin-top: 15px;
  font-size: 1.2rem;
  max-width: 600px;
}

/* BUTTON */
.cta {
  margin-top: 35px;
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff00ff, #00ffff);
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
}

/* ABOUT / SERVICES / SKILLS */
.service-box div,
.skill-box span {
  margin: 15px 0;
  padding: 15px 20px;
  background: #111;
  border-left: 3px solid #ff00ff;
  display: inline-block;
  border-radius: 8px;
}

.skill-box span {
  margin-right: 10px;
}

/* PROJECTS */
.project-card {
  margin-top: 30px;
  padding: 30px;
  background: #111;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(255,0,255,0.2);
}

.project-card a {
  color: #00ffff;
  text-decoration: none;
  margin-right: 10px;
}

/* REVEAL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* CONTACT */
.contact p {
  margin-top: 15px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px;
  opacity: 0.6;
  background: #07070a;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  section {
    padding: 80px 7%;
  }

  .glitch {
    font-size: 3rem;
  }
}